@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("./assets/asset.jpg");
  /* background-size: 1000% 100%; */
/* background-repeat: repeat; */
/* background-size: cover; */
/* } */

body {
  background-color: #fffef9;
  /* background-color: #4c4628; */
}

.drag-box {
  position: relative;
}

.drag-box .drag-icon {
  position: absolute;
  top: 18px;
  left: -29px;
}

.form-select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==");
  background-size: 1rem;
  background-position: right 0.5rem center;
}
